
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.card:nth-child(1) {
  margin-bottom: 1rem;
}

.social-block > * {
  padding: 0.2rem;
  margin-bottom:
}

.btn-social {
  margin: 0.5rem auto 0.75rem;
}
